@page "/"
@inject IHttpClientFactory ClientFactory

<h1>Blazor + API Demo</h1>

<button @onclick="CallApi">Llamar API</button>

<p>@result</p>

@code {
    string result = "";

    async Task CallApi()
    {
        var client = ClientFactory.CreateClient("Api");
        var response = await client.GetStringAsync("api/weather");
        result = response;
    }
}